.grid-element {
  background: #5b72b1;
  width: 1.5vh;
  height: 1.5vh;
}

.grid-element-contains-unit {
  background: #c954af;
}

.grid-element-contains-unit-effect-melee {
  opacity: 0.5;
}

.grid-element-selected {
  background: #80c969;
}

.grid-element-effect-melee {
  background: #f32a2a;
}

.grid-element-effect-melee {
  background: #f32a2a;
}