#lobby-container{

  #host-user-title {
    font-family: 'Maven Pro', sans-serif;
    font-size: 26px;
    font-weight: 500;
  }
  .user-lobby-profile-picture {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
  }

  .user-lobby-profile-name {
    font-family: 'Maven Pro', sans-serif;
    font-size: 36px;
    font-weight: 500;
  }

  .user-lobby-profile-skill-rating {
    font-family: 'Maven Pro', sans-serif;
    font-size: 26px;
    font-weight: 500;
  }

  .user-lobby-profile-waiting{
    font-family: 'Maven Pro', sans-serif;
    font-size: 36px;
    font-weight: 500;
  }
} 