#lobby-container{
  .user-lobby-container{
    width: 400px;
    height:800px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    align-content: center;
    position: relative;

    .lobby-user-attributes{
      .user-profile-picture {
        width: 100px;
        height: 100px;
      }
    }
  }

  .join-user-lobby-container{
    background: #b92f2f;
  }

  .host-user-lobby-container{
    background: #382fb9;
  }


} 