#splash-screen {

  h1 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 150px;
    font-weight: 500;
    color: rgb(232, 232, 232);
    position: relative;
    width: 100vw;
    height: 20vh;
    text-align: center;
  }
  #splash-screen-title-inner-shadow{
    -webkit-background-clip: text;
-moz-background-clip: text;
     background-clip: text;
  }
}