
#splash-screen-main-button {
  font-family: 'Maven Pro', sans-serif;
  font-size: 40px;
  font-weight: 500;

}

#splash-screen-account-info{

  #splash-screen-account-info-picture {
    width: 120px;
    height: 120px;
    margin-top: auto;
    border-radius: 50%;
  }
  
  #splash-screen-account-info-name{
    text-align: center;
    font-size: 30px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 300;
    margin: 10px;
  }
}




#splash-screen-logout-button {
  font-family: 'Maven Pro', sans-serif;
  font-size: 40px;
  font-weight: 500;
}
