#lobby-colour-picker {
    background: #bdb7b7;
    width: 250px;
    height: 50px;
    position: absolute;
    bottom: 5%;
    left: 5%;
    // transform: translate(-430%, -430%);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    align-content: center;

    .lobby-colour-picker-option {
      width: 30px;
      height: 30px;
      margin: 10px;
    }

    .lobby-colour-picker-option-selected {
      border: medium;
      border-color: blue;
      border-style: solid;
    }

    .lobby-colour-picker-option-disabled {
      opacity: 0.3;
    }

}

#lobby-colour-picker-hover-button {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #bdb7b7;
  position: absolute;
  bottom: 5%;
  left: 5%;
}